{% extends "generic.html" %}
{% load staticfiles%}

{% block content %}
<link rel="stylesheet" href="{% static '/css/detail.css' %}" />
<h2>{{ sample }}</h2>

<p><Strong>Experiment:</Strong><a href="{% url 'experiment-detail' sample.experiment.experimentID %}">
    {{sample.experiment}}</a></p>
<p><Strong>Storage Condition:</Strong> {{sample.storageCondition}}</p>
<p><Strong>Storage Location:</Strong> {{sample.storageLocation}}</p>
<p><Strong>Treatment Protocols:</Strong> </p>
  {% if sample.treatmentProtocol.all.count == 0 %}
  <ul>None</ul>
  {% else %}
  <ul>
    {% for Protocol in sample.treatmentProtocol.all %}
      <li>{{Protocol}}</li>
    {% if Protocol.description or Protocol.file%}
      <ul>
          {% if Protocol.description %}
            <li>{{Protocol.description}}</li>
          {%endif%}
          {% if sample.treatmentProtocol.file %}
            <li>File: {{Protocol.file}}</li>
          {%endif%}
      </ul>
    {% endif %}
    {%endfor%}
  </ul>
{% endif %}
<p><Strong>Date Created:</Strong> {{sample.dateCreated|date:'M d, Y'}}</p>
<p><Strong>Organism:</Strong> {{sample.organism}}</p>
<p><Strong>Organism Modifications:</Strong> {{sample.organismModifications}}</p>

{% if sample.dataset_set.all.count != 0 %}
    <Strong>Datasets: </Strong>
    <ul style="margin-left: 5px;">
    {% for Dataset in sample.dataset_set.all %}
        <li>
            <a href="{% url 'dataset-detail' Dataset.datasetID %}">{{Dataset}}</a>
        </li>
     {% endfor %}</ul>
{% else %}
    <p>No datasets found.</p>
{% endif %}

<a class="nav-block" href="{% url 'edit-sample' sample.sampleID %}">
    <p class="nav-block__title">Edit</p>
</a>
</br></br>
{% endblock %}