{% extends "generic.html" %}

{% block content %}
<h2>{{ sample }}</h2>
<p><Strong>ID:</Strong> {{sample.sampleID}}</p>
<p><Strong>Date Created:</Strong> {{sample.dateCreated}}</p>

{% if sample.dataset %}
    <p><Strong>Dataset: </Strong><a href="{% url 'dataset-detail' sample.dataset.datasetID %}">
        {{sample.dataset}}</a></p>
    <p><Strong>Dataset ID:</Strong> {{sample.dataset.datasetID}}</p>
{% else %}
    <p><Strong>Dataset: </Strong>None</p>
    <p><Strong>Dataset ID: </Strong>None</p>
{% endif %}

{% endblock %}