<!--add-sample.html
    Page for adding samples.-->

{% extends "generic.html" %}
{% load staticfiles%}

{% block content %}
  <link rel="stylesheet" href="{% static '/css/add.css' %}" />
  <h1>{{header}}</h1>
  <form action="" method="post">
      {% csrf_token %}
      {% for field in form %}
        <p class="form-title">{{ field.label }}</p>
        {% for error in field.errors %}
          {% if error != 'This field is required.' %}
            <p class="form-error">{{ error }}</p>
          {% endif %}
        {% endfor%}
        {{ field }}
      {% endfor %}
      <input class="nav-block" type="submit" value="Submit"/>
  </form>
{% endblock %}
