<!DOCTYPE html>
<html lang="en">
<head>
    {% block title %}<title>Payne Lab Data Man</title>{% endblock %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Add additional CSS in static file -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

    <script type='text/javascript' src='https://cdn.byu.edu/byu-theme-components/latest/byu-theme-components.min.js?ver=4.9.9'></script>
    <link rel="stylesheet" href="https://cdn.byu.edu/byu-theme-components/latest/byu-theme-components.min.css" />
    {% load static %}
    <link rel="stylesheet" href="{% static '/css/general.css' %}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <byu-header home-url="http://127.0.0.1:8000/records/">
        <h1 slot="site-title">DataMan</h1>
    </byu-header>
    <byu-menu slot="nav" collapsed>
        <!-- <a href="javascript: void 0" class="active">Home</a> -->
        <a href="{% url 'records' %}">Home</a>
        <a href="{% url 'archive' %}">Archive</a>
        <a href="{% url 'create-new' %}">Create New</a>
        <a href="{% url 'about' %}">About</a>
    </byu-menu>
    <div class="content">
        {% block content %}{% endblock %}
    </div>
    <byu-footer></byu-footer>
</body>
</html>

{% block pagination %}
  {% if is_paginated %}
<div class="pagination">
    <span class="page-links">
        {% if page_obj.has_previous %}
        <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}
        <span class="page-current">
            <p>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.</p>
        </span>
        {% if page_obj.has_next %}
        <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>
  {% endif %}
{% endblock %}
