<!--Project DataMan
page for uploading excel files-->
{% extends "generic.html" %}
{% load staticfiles%}
{% load django_tables2 %}

{% block content %}
<link rel="stylesheet" href="{% static '/css/upload.css' %}" />
<h1>UPLOAD DATA</h1>
<form name="entry" action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% if form %}
    {% for field in form %}
      <p class="form-title">{{ field.label }}</p>
      {% for error in field.errors %}
        {% if error != 'This field is required.' %}
          <p class="form-error">{{ error }}</p>
        {% endif %}
      {% endfor%}
      {{ field }}
    {% endfor %}
    <br><br>
    <input class="nav-block" type="submit" value="Submit" name="Submit" id="Submit"/>
    <br><br>
    <a class="nav-block" href="{% static 'download-template.xlsx' %}">
        <p class="nav-block__title"> Download Template</p>
    </a>
    <a class="nav-block" href="{% static 'download-template-Kelly.xlsx' %}">
        <p class="nav-block__title"> Download Template (Kelly Lab)</p>
    </a>
    <a class="nav-block" href="{% static 'download-template-Price.xlsx' %}">
        <p class="nav-block__title"> Download Template (Price Lab)</p>
    </a>
    {% endif %}
</form>

<form name="confirm" action="#" method="get">
  {% for table in tables %}
    {% render_table table %}
    <br>
  {% endfor %}
  {% for b in upload_options %}
    <input class ="nav-block" button" id ={{b}} name="option" value={{b}} 
           onclick="window.location.href=('?option='+this.value)"/>
  {% endfor %}
</form>
{% endblock %}

