body {
    min-height: 100vh;
    display: grid;
    grid-template-rows: 58px 35px auto 78px;
    color: #002e5d;
}
.content {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    font-family: HCo Ringside Narrow SSm,Arial,sans-serif;
}
a {
    text-decoration: none;
}

byu-menu.byu-component-rendered {
    position: sticky;
    top: 0px;
    background-color: #FEFEFE;
}

.form-error {
    color: red;
}
