.content {
    display: grid;
    grid-template-rows: 100px auto auto;
    grid-template-columns: 1fr 1fr 1fr;
    padding-bottom: 10px;
}
h1{
        grid-column: 1/4;
}
.nav-block {
    height: 40px;
    border-radius: 10px;
    margin: auto;
    transition: top .3s linear;
    position: relative;
    top: 0;
    margin: 25;
}

.nav-block__title {
    color: #fff;
    font-size: 12px;
    text-align: center;
    margin-bottom: 18px;
}

.nav-block:hover {
    top: -4px;
    cursor: pointer;
}

a.nav-block {
    width: 200px;
    color: #FEFEFE;
    background: #1d1d1d;
    display: inline-block;
}

input.nav-block {
    width: 80px;
    color: #fff;
    background: #002e5d;
    font-size: 14px;
    text-align: center;
    margin-bottom: 18px;
    border: 0px;
}

.table-outer {
    overflow-x: scroll;
    grid-column: 1/4;
    grid-row: 2/4;
    border: solid 2px #002e5d;
    background: #002e5d;
    border-radius: 1px;
}

table {
    border: solid 2px solid black;
    border-collapse: collapse;
}

tr,
th,
td {
    font-size: 12px;
    background: white;
    border: solid 1px #002e5d;
    border-radius: 0px;
    padding: 2px;
    padding-right: 15px;
    padding-left: 15px;
}